
body{
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
    max-width: 2000px;
    min-width: 500px;
    justify-self: center;
    margin: 0 auto;
}



#top_header{
    display: flex;
    background-color:rgb(58, 58, 58) ;
    margin: 0px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center; 
    flex-wrap: wrap;
}



#top_header > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid black;
}



#search_bar{
    display: flex;
    align-items: center;
}

#search_bar input{
    width: 100px;
    margin-right: 0px;
}

#search_bar button{
    background-color: white;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0px;
    height: 21.83px;
}

#socials img{
    width: 15px;
    background-color: red;
    border-radius: 15px;
    background-size: 30px;
    margin-left: 5px;
}

#socials{
    display: flex;
    align-items: center;
}

#heads_middle{
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

#heads_middle p{
    font-size: smaller;
    font-weight: bold;
    font-family:sans-serif ;
}

#bottom_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-wrap: wrap;
    
}

.listhead{
    padding: 5px;
    cursor: default;
    border-left: 1px solid black;
    color: white;
    font-weight: bolder;
    
    
}

.lister:hover .list_elm {
  display: block;
  animation-name: transfer;
  animation-duration: 1s;
}

.list_elm{
    position: absolute;
    display: none;
    background-color: white;
    font-size: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) ;
    z-index: 1;
    
    

}


.sublist{
    position: relative;
    display:inline-table;
    margin: 10px;
    font-weight: bold;
    cursor: default;
    padding-right: 50px;
    
}

.sublist a{
    display: block;
    margin-top: 4px;
    font-weight: lighter;
    cursor: pointer;
    font-size: 10px;
    color: black;
    text-decoration: none;
}

.sublist a:hover{
    background-color: rgba(255, 0, 0, 0.267);
}


#show-pictures{
    display: grid;
    position: relative;
    
}


#ozgur_photo{
   
    width: 100%;
    animation-name:slide;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    grid-row: 1;
    grid-column:1;
    
}




#ismail_photo{
    
    width: 100%;
    animation-name:slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    grid-row: 1;
    grid-column:1;
   
  
}


.checkboxes{
      grid-row: 1;
    grid-column: 1;
    z-index: 5;
    align-self: end;     
    justify-self: start;
}
.checkboxes input{

    
   
   

}

#show-pictures:has(.checkboxes input:checked) img {
    animation-play-state: paused;
}

.img-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto; 
   
}
.img-link a{
    display: inline-block;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 30px;
    margin: 20px ;
    height: 2%;
  
  
}



#tau img{
    height: 100%;
    width: auto;
}


.img-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto; 
    flex-wrap: wrap;
    gap: 20px;
}

.img-links img{
    width: 100%;
   
}

.img-links a{
    flex: 1 1 300px;
    max-width: calc(50%-10px);
    display: block;
}


#boxes{
    gap: 1px;
}

#boxes a{
    display: grid;
    max-width: 268.05px;
    height: 104px;
    margin: 0 auto;
    
}
#boxes a div{
    grid-row: 1;
    grid-column:1;
    z-index: 2;
    align-self: self-end;
    
    justify-self: center;
    background: linear-gradient(#5a5a5a00, #1a1a1a);
    color: white;
    width: 100%;
    text-align: center;
   
   
    
   
    
}

#boxes a img{
    width: 100%;
   
    grid-row: 1;
    grid-column:1;
    
  
    
}


#event-links{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    min-height: 500px;
    padding: 20px 0;




}

.calendar-container{
       height:500px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: rgb(236, 236, 236);
       border-radius: 15px;
    
 
   
}

.calendar-container h2{
    margin-top: 50px;
    margin-left: 10px;
    align-self: self-start;
    text-decoration:underline ;
    
}

.calendar-container iframe{
       height:90%;
    
 
   
}


.quicklinks{
    
    background-image: url('pictures/Screenshot 2026-07-07 142921.png');
    background-repeat: no-repeat;
    background-size:100% ;
    width: 531px;
    height: 500px;
    border-radius: 15px;
    
    
}

#all_links{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.411);
    width: 80px;
    margin-left:450px ;
    margin-top: 19px;
    margin-bottom: 16px;
    
}

#all_links div{
     justify-content: end;
    
    align-items: center;
    margin-top: 0px;
    height: 15px;
    width: 80px;
    margin-top:4px ;
}

.quicklinks a div{
    background-color: rgba(255, 0, 0, 0.247);
    height: 100px;
    width: 100px;
    
}

.quicklinks a{
   
    height: 100px;
    width: 100px;
    margin-top: -5px;
    
}

.top_box{
    width: 100%;
    row-gap: 50px;
    padding-top: 10px;
    column-gap: 30px;
    row-gap: -100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
   
    

}


footer{
    background-color: rgb(73, 73, 73);
}

footer img{
    width: 120px;
}

#top_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


#top_footer h2{
    color: white;
    font-size: medium;
}
.content{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: center;
    text-decoration: none;
    
}
.content a{
    text-decoration: none;
    color: white;
    font-size: small;
    
    
}

.content > a:hover{
    text-decoration: underline;
}

#bottom_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom:10px;
}

#bottom_footer a{
    text-decoration: none;
    color: white;
    font-size: small;
    
    
}

#bottom_footer a:hover{
    text-decoration: underline;
}

@keyframes transfer{
    from{opacity: 0;}
    to{opacity: 1;}
    
}
@keyframes slide {
    
    0%,50%{ opacity: 1; }
    60%,100%{ opacity: 0; }
} 

